<!-- Utente: {{user?.username}} <br>
Indirizzo mail: {{fireUser?.email}}
<button mat-stroked-button color="accent" routerLink="/new-cwit">+</button><br>
Cwit dell'utente: <br>

<div class="cwit-container">
  <app-cwit-card *ngFor="let cwit of userCwits" [cwit]="cwit"></app-cwit-card>

</div> -->


<div class="container">
  <mat-card class="user-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Utente: {{user?.username}}</mat-card-title>
        <mat-card-subtitle>Indirizzo mail: {{fireUser?.email}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Cwit all'attivo:
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="accent" routerLink="/new-cwit">new</button><br>
      </mat-card-actions>
    </mat-card>

</div>

<div class="cwit-container" >
  <app-cwit-card *ngFor="let cwit of userCwits" [cwit]="cwit" ></app-cwit-card>

</div>
